.choh-tree-invisible {
  display: none;
}

.choh-tree ul,
.choh-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.choh-tree-node {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.choh-tree-node .choh-tree-node {
  padding-left: 8px;
}

.choh-toggle {
  vertical-align: middle;
}

.choh-tree-node-content {
  display: flex;
  align-items: center;
}

.choh-tree-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.choh-tree-children {
  width: 100%;
  margin-left: 8px;
}
