<cdk-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <!-- This is the tree node template for leaf nodes -->
  <cdk-nested-tree-node
    #treeNode="cdkNestedTreeNode"
    *cdkTreeNodeDef="let node"
    class="flex flex-col leading-8"
  >
    <div class="flex items-center pl-2">
      <mat-icon
        class="mr-2 w-5 h-5 text-xl flex items-center justify-center cursor-pointer select-none"
        [class.text-yellow-500]="node.type === 'folder'"
      >
        {{ node.type === "folder" ? "folder" : "insert_drive_file" }}
      </mat-icon>
      {{ node.name }}
    </div>
  </cdk-nested-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <cdk-nested-tree-node
    #treeNode="cdkNestedTreeNode"
    *cdkTreeNodeDef="let node; when: hasChild"
    [cdkTreeNodeTypeaheadLabel]="node.name"
    isExpandable
    class="flex flex-col leading-8"
  >
    <div class="flex items-center pl-2">
      <mat-icon
        class="mr-2 w-5 h-5 text-xl flex items-center justify-center cursor-pointer select-none"
        [class.text-yellow-500]="node.type === 'folder'"
        (click)="toggleNode(node)"
      >
        {{ node.type === "folder" ? "folder" : "insert_drive_file" }}
      </mat-icon>
      {{ node.name }}
    </div>
    <div class="w-full ml-2" [class.hidden]="!tree.isExpanded(node)">
      <ng-container cdkTreeNodeOutlet></ng-container>
    </div>
  </cdk-nested-tree-node>
</cdk-tree>
