.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree-node {
  display: flex;
  align-items: center;
  line-height: 40px;
}

.example-tree-node .example-tree-node {
  padding-left: 40px;
}

.example-toggle {
  vertical-align: middle;
}

.example-tree-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
