<choh-header
  [connected$]="connected$"
  (eventConnect)="onConnect()"
  (eventDisConnect)="onDisConnect()"
/>
@if (connected$ | async; as connected) {
  <div
    class="grid grid-cols-[1fr_auto_1.5fr_2.5fr] grid-rows-[auto_1fr] gap-2 h-screen"
  >
    TBD
  </div>
} @else {
  <div
    class="col-span-4 text-center h-[80vh] flex flex-col justify-center items-center gap-4"
  >
    <h2>
      Raspberry Pi Zero と PC を USB で繋いだ後、Connect
      ボタンをクリックして、Web Serail を接続して下さい
    </h2>
    <img
      ngSrc="PiZeroW_OTG.jpg"
      width="680"
      height="270"
      priority
      alt="PiZeroW_OTG"
    />
    <choh-button [label]="'Web Serial Connect'" (clickEvent)="onConnect()" />
  </div>
}
